<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Student</title>
</head>
<body>
    <h1>Display Student</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>MOBILE</th>
            <th>EMAIL</th>
            <th>ADDRESS</th>
            <th>ACTIOM</th>
        </tr>
        {% for i in mydata %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.email}}</td>
            <td>{{i.address}}</td>
            <td><a href="delete-student/{{i.id}}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>