<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>
<body>
    <h1>Add Student</h1>
    <form method="post" action="/add-student">
        {% csrf_token %}
        Enter Name:<input type="text" name="txt1">
        Enter Number:<input type="text" name="txt2">
        Enter Email:<input type="email" name="txt3">
        Enter Address:<input type="text" name="txt4">
        <input type="submit">
    </form>
</body>
</html>